<div class="container d-flex justify-content-start mt-4 flex-column align-items-center" style="height:100vh">
    <h2 class="text-center mb-4">BUDGET CALCULATOR</h2>
    <div class="d-flex justify-content-center gap-2 align-items-center mb-4">
        <div>From:</div>
        <input matInput type="date" [(ngModel)]="startDate" (change)="onStartDateChange()" class="form-control w-auto" />
        <div>To:</div>
        <input matInput type="date" [(ngModel)]="endDate" [min]="minEndDate" class="form-control w-auto" />
        <button mat-raised-button color="primary" (click)="submitDates()">Submit</button>
        <button mat-raised-button color="warn" (click)="reset()">Reset</button>
    </div>
    <span class="text-danger" *ngIf="errorMessage">{{ errorMessage }}</span>

    <table *ngIf="isSubmit" mat-table class="mat-elevation-z8">
       
        <ng-container *ngFor="let item of displayedColumns" [matColumnDef]="item">
            <th mat-header-cell *matHeaderCellDef> {{ item }} </th>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <ng-container *ngFor="let item of dataSource" [matColumnDef]="item.category">
            <td mat-header-cell *matHeaderCellDef> {{ item.category }} </td>
        </ng-container>
        <tr mat-row *matRowDef="dataSource; columns: displayedColumns;"></tr>
    </table>
    
</div>
