<div class="container d-flex justify-content-center flex-column gap-4">
    <div class="d-flex flex-column align-items-center justify-content-center mt-4">
        <span class="fs-1">Welcome to <span class="text-purple">product management system</span></span>
        <div class="d-flex gap-2 mt-4 justify-content-center">
            <!-- <button (click)="FetchData('/Category/Category')" routerLinkActive="router-link-active" type="button"
                class="btn btn-outline-purple">Category</button>
            <button (click)="FetchData('/Product/Product')" type="button" class="btn btn-purple">Product</button> -->
            <button (click)="FetchData('category')" routerLinkActive="router-link-active" type="button"
                class="btn btn-outline-purple">Category</button>
            <button (click)="FetchData('product')" type="button" class="btn btn-purple">Product</button>
        </div>
    </div>
    <!-- <table mat-table [dataSource]="data" class="mat-elevation-z8">

        <ng-container *ngFor="let column of columns" [matColumnDef]="column">
          <th mat-header-cell *matHeaderCellDef> {{ column | titlecase }} </th>
          <td mat-cell *matCellDef="let element"> {{ element[column] }} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
        
      </table> -->
      
</div>
